* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    font-size: 0.85rem;
    background: #655A7C;
    color: white;
    letter-spacing: 1px;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: calc(100vh - 4rem);
    justify-content: center;
    align-items: center;
}

form {
    background: #AFC1D6;
    color: black;
    width: 20rem;
    padding: 1.5rem;
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-weight: bold;
    color: white;
}

input {
    padding: 0.3rem;
    border-radius: 5px;
    border: 0;
}

button {
    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    text-transform: uppercase;
    /* font-weight: bold; */
    /* letter-spacing: 2px; */
    margin-top: 0.5rem;
}

button:hover {
    background: #7B95B1;
    color: white;
    cursor: pointer;
}